// menu
/* Por debajo de 400px */ 
    @media screen and (max-width: 400px){
        .menu-letra{
        font-size:12px!important;
        text-transform: uppercase!important;
    }  
        .menu-footer{
        text-align: center;
        border: 1px solid #ffffff!important;
        background-color: #ffffff!important;
        }       
 }
// fuentes 
@font-face {
    font-family: 'pituco';
    src: url('pirulenrg.otf') format('opentype');  
}
@font-face {
    font-family: 'proxima';
    src: url('proxima.otf') format('opentype');  
}
.pituco { 
    font-family:'pituco';
} 
.proxima { 
    font-family:'proxima';
} 
.th1 {
    font-size: 5rem!important; 
}
.th2 {
    font-size: 2.5rem;
}
.th3  {
    font-size: 1.2rem; 
}
.thmenufooter{
    font-size: 1.4rem; 
}
.th4  {
    font-size: 0.8rem;
}
.thdestacado{
    font-size: 2rem;
}
// colores
.negrito {
    color:#686767;  // color creado por beto
} 
.cuadron {
    border:1px solid #939292;  
} 
.azul {
    color: #0E4589, // color creado por beto
}    
// footer logo 
.centrar{
    padding-left: calc(var(--bs-gutter-x) * 2)!important; 
}
// Sección servicios:
.fondo-web{
    background-image: url("../img/servicios-fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fondo-video{
    background-image: url("../img/video1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fondo-contacto{
    background-image: url("../img/video2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
$theme-colors: (
  "primary":   #23459e, // color primario
  "secondary": #7d6944, // color secundario
  "success":   #198754,
  "info":      #0dcaf0,
  "warning":   #ffc107,
  "danger":    #dc3545,
  "light":     #ffffff, 
  "dark":      #000000

) !default; 
 
// sección menu
$nav-link-font-size:  1.6rem!default; 
html {
    font-size: 62.5%;
    box-sizing: border-box;
} 
body {     
    font-size: 1.4rem; 
} 
p {     
    font-size: 1.4rem!important;
    color:#000000; 
    margin-bottom: 0.5rem!important;
} 
a { 
    text-decoration: none!important;
 }
 
@import "../node_modules/bootstrap/scss/bootstrap.scss"; // bootstrap actual bien configurado, sacado de sass
 
// Importado de: site/assets/css/bootstrap.min.css?v=1.0.2 
/* @import "Bootstrapv5.1.3.css"; */
// Importado de: site/assets/css/app.css?v=1.0.2 
/* @import "Bapp.css"; */
